h1,
h4 {
  text-align: center;
}

/* The text who explains the app in index.php */
#introduction {
  width: 50%;
  margin-left: 25%;
  text-align: center;
  font-size: 20px;
}

/* The loading symbol while validating (for debugging)*/
.loading {
  height: 95vh;
  width: 98vw;
  background-image: url(../IMG/loading.gif);
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: 50%;
}